 /*保障体系*/
 #guarantee-sy{
 	width:100%;
 	margin-top: 109px;
 	padding-bottom: 199px;
 	background: #eee;
 }
 .guarantee-sy-c{
 	width:1200px;
 	margin:0 auto;
 	box-sizing: border-box;
 }
 /*保障体系头*/
 .guarant-head{
 	height:136px;
 	line-height:136px;
 	text-align: center;
 	font-size: 48px;
 }
  .guarantee-sy-c ul{
 	width:100%;
 	display: flex;
   	justify-content: flex-start;
   	justify-item:center;
  }
 .guarantee-sy-c ul li{
 	width:303px;
 }
 .guarantee-sy-c ul li dl{
 	display: flex;
   	justify-content: flex-start;
   	justify-item:center;
 }
 .guarantee-sy-c ul li dl dt{
 	padding-right: 8px;
 	width:80px;
 }
  .guarantee-sy-c ul li dl dt img{
  	width:80px;
  }
 .guarantee-sy-c ul li dl dd{
 	margin:0;
 	padding-right: 5px;
 }
 .guarantee-sy-c ul li dl dd p{
 	font-size: 18px;
 }
  .guarantee-sy-c ul li dl dd p:nth-child(1){
  	padding-top:10px;
  	font-size: 24px
  }