body{
	background: #f5f5f5;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
#chaxunCont{
	width:1200px;
	margin:0 auto;
}
.chaxunHead{
	background: #e5e5e5;
	margin-top: 20px;
	padding:10px;
}
.itemc{
	display: inline-block;
	position: relative;
}
.title{
	    background: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    padding: 4px 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    position: relative;
}
.itemCont{
	position: absolute;
	left:1px;
	top:27px;
	z-index:10;
	background:#2c8afa;
	color:white;
	padding-right: 100px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom:  10px;
	display: none;
}
/*.itemc i{
	width:15px;
	height:26px;
	display: inline-block;
	background: url(../images/yous.png) no-repeat left center/100% 20px;
}*/
.daosj{
	background:#fff url(../images/sgdfg.png) no-repeat 85% 50%/12px 6px;
	padding-right: 30px;
}

.itemCont ul{
	margin:0;
}
.itemCont ul li{
	margin:0;
	padding:3px 10px;
	width: 100px;
}
.itemCont ul li:hover{
	background: black;
}
/*分类*/
.collectionC{
	width:1200px;
	margin:0 auto;
}
.collectionC .tabsone{
	width:100%;
	background: white;
}
.collectionC .tabsone tr{
	height:50px;
	line-height: 50px;
	margin:0;
	box-sizing: border-box;
}
.collectionC .tabsone tr td{
	box-sizing: border-box;
	border-bottom:1px solid #333;
}
.collectionC .tabsone tr td:nth-child(1){
	border-right:1px solid #333;
	padding-left: 10px;
	width:102px;
}
.collectionC .tabsone tr td:nth-child(2){
	padding-right: 119px;
	padding-left: 20px;
}
.collectionC .tabsone tr td:nth-child(2) a:nth-child(1){
	background: #2c8afa;
	color:#333;
}
.collectionC .tabsone tr:nth-child(1) td:nth-child(2) a:nth-child(1){
	background: transparent;
}
.collectionC .tabsone tr td:nth-child(2) a{
	    display: inline-block;
    padding: 3px 13px;
    height: 30px;
    line-height: 19px;
    border-radius: 5px;
}
.collectionC .tabsone tr:nth-child(1) td a:hover{
	background: #2c8afa !important;
	color:white;
}
/*排序*/
.paixu{
	background: #fff;
	margin:10px 0;
}
.paixu input {
	display: inline-block;
	padding:10px 25px;
	background: #fff url(../images/duodfh.png) no-repeat right center;
	color:#4f4f4f;
	border:none;
	border-right:1px solid #bfbfbf;
	position: relative;
	left:0;
}
.paixu input:nth-child(1){
	background: #fff;
}

/*软件*/
.OptiTex{
	background: white;
	border-radius: 10px;
	border:1px solid #bfbfbf;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	padding:20px;
}
.OptiTexCo{
	box-sizing: border-box;
	width:50%;
	padding-right: 30px;
	padding-left: 30px;
}
.OptiTexCo:nth-child(1){
	border-right: 1px solid #bfbfbf;
}
.OptiTexCo>div{
	border-bottom:  1px solid #bfbfbf;
}
.OptiTexCo>div dl{
	display: flex;
	justify-content: flex-start;
}
.OptiTexCo>div dl dt{
	width:87px;
}
.OptiTexCo>div dl dt img{
	width:100%;
}
.OptiTexCo>div dl dd h3{
	margin:0;
}
.OptiTexCo>div dl dd span{
	margin-top:10px;
	color:orange;
}
.OptiTexCo>p{
	padding-right: 50px;
	line-height: 30px;
	margin-top: 5px;
	box-sizing: border-box;
}

/*实现表格*/
.formTab{
	width: 100%;
	background: white;
	margin-top: 26px;
}
.formTab tr{
	width:100%;
}

.formTab tr td{
	width:100%;
	border-bottom:1px solid #bfbfbf;
	display: flex;
	justify-content: flex-start;
	padding-bottom: 30px;
}
.formTab tr td>div:nth-child(1){
	width:197px;
	padding-top:40px;
	text-align: center;
	box-sizing: border-box;
}
.formTab tr td>div:nth-child(1)>img{
	width:122px;
}
.formTab tr td>div:nth-child(2) {
	border-bottom: 1px solid #bfbfbf;display: flex;
	justify-content:space-between;
	width:942px;
}
.formTab tr td>div:nth-child(2) .tab-o{
	margin-right: 30px;
}
.formTab tr td>div:nth-child(2)   h3{
	margin:0;
	line-height: 50px;
	height: 50px;
}
.formTab tr td   p ,.formTab tr td   b{
	font-size: 14px;
	height:30px;
	font-weight: 100;
	line-height:30px;
}
.formTab tr td .tab-o p span a{
	color:#2c8afa;
}
.tab-tr{
	padding-right: 48px;
	color:orange;
	font-size: 18px;
}

/*分页*/
.fenye li a,.fenye li span{
	margin: 0 10px;
}

	.yunsc-head .yunsc-head-left span img{
	height: 60%;
	position: relative;
	top:0px;
}
		.Classified-content{
			display: none ;
			z-index: 3;
		}
		.nav-classify>span{

		}
		.nav-classify>span:hover > .Classified-content{
			display: block;
		}
		.Classified-content{
			top:39px;
		}
		.tcdPageCode{
			padding: 15px 20px;
			text-align: left;
			color: #ccc;
			text-align:center;
		}
		.tcdPageCode a{
			display: inline-block;
			color: #428bca;
			display: inline-block;
			border: 1px solid rgba(221, 221, 221, 0.58);
			padding: 5px 10px;
			margin: 0 2px;
			border-radius: 4px;
			vertical-align: middle;
			background: white;
		}
		.tcdPageCode a:hover{    
			padding: 5px 10px;
			text-decoration: none;
			background:#f5f5f5;
		}
		.tcdPageCode span.current{
			background: white;
			display: inline-block;
			padding:5px 10px;
			margin: 0 2px;
			color: #fff;
			background-color: #428bca;	
			border: 1px solid #428bca;
			border-radius: 4px;
			vertical-align: middle;
		}
		.tcdPageCode span.disabled{
			background: white;	
			display: inline-block;
			padding:5px 10px;
			margin: 0 2px;	
			color: #bfbfbf;
			background: #f2f2f2;
			border: 1px solid #bfbfbf;
			border-radius: 4px;
			vertical-align: middle;
		}