/*页脚*/
.wang-footer{
	padding-top: 86px;
	padding-bottom: 177px;
	background: black;
}
.container{
	width:1200px;
	margin:0 auto;
}
.wang-footer .container{
	position: relative;	
}
.wang-footer a {
	color: #fff;
	/*font-size: 24px;*/
}
.wang-footer ul{
	display: flex;
	justify-content: flex-start;
	justify-item:center;
}
.wang-footer li{
	display:inline-block;
	width: 25%;
	line-height: 30px;
}
.wang-footer li:nth-child(9),
.wang-footer li:nth-child(10),
.wang-footer li:nth-child(11){
	margin-top: -25px;
}

.ewm{
	position: absolute;
	right: 162px;
	top:141px;
	z-index: 10;
	width: 140px;
	height:140px;
}