body{
	background: #f5f5f6;
}
.partner{
	width: 100%;
	height: 467px;
	background: url(../images/bf6195c714a83466a2ae0b72adb97d14ba6b05e21211a-trMULC_fw658.png) no-repeat left center;
}
.parnerCon{
	background: rgba(0,0,0,0.5);
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
}
.parnerCon h2{
	padding-top: 120px;
}
.parnerCon p{
	margin-bottom: 71px;
}
.parnerCon p input{
	width:176px;
	height: 42px;
	border:1px solid #1793fd;
	border-radius: 5px;
	color:white;
	background: transparent;
}
.parnerCon p input:nth-child(1){
	background: #1793fd;
}
.parnerCon p input:hover{
	background: #1793fd;
}

/*加入*/
.joinParner{
	width:1200px;
	margin:0 auto;
}
.joinParner>p{
	text-align: center;
	margin:55px 0;
}
.paProcess{
	background: white;
	height: 187px;
	width: 100%;
	background: url(../images/TB1L7XARVXXXXb1XVXXXXXXXXXX-2360-488.png) no-repeat left center/100% ;
	position: relative;
}
.paProcess span{
	position: absolute;
	display: inline-block;
}
.paProcess span:nth-child(1){
	right:289px;
	top:20px;
}
.paProcess span:nth-child(2){
	right:268px;
	top:131px;
}
.paProcess div{
	margin:0 auto;
	width:95%;display: flex;
	position: relative;
	top:121px;
	justify-content: flex-start;
}
.paProcess p{
	width: 25%;
	text-align: center;
}
/*培训认证*/
#ntcRecruit{
	width: 100%;
	background: white;
}
.ntc{
	width:1200px;
	margin:0 auto;
}
.ntc>h2,.ntc>p{
	text-align: center;
}
.ntc>h2{
	padding:49px 0 22px;
}
.ntc>p{
	padding-bottom:60px;

}
.nctCont{
	width:100%;
	display: flex;
	justify-content: flex-start;
}
.nctCont>div{
		width:378px;
	height: 363px;
	border:1px solid #d2d2d2;
	margin:0 11px;
}
.nctCont>div:hover >.neir{
	box-shadow: 0 0 7px 0px #1793fd;
	border:1px solid #1793fd;
	border-top:none;

}
.nctCont>div:hover >.conHead{
	background: #1793fd;
	color:white;
}
.conHead{
	height: 81px;
	line-height: 81px;
	padding-left: 32px;
	background:#eee ;
}
.neir{
	height: 284px;
	box-sizing: border-box;
}
.neir p{
	font-size: 14px;
	margin:0;
	height:27px;
	padding-left: 32px;
	line-height:27px;
}
.neir p:nth-child(1){
	color:#1793fd;
	padding:39px 32px 19px;
}
/*战略合作伙伴*/
.Executive{
	padding-bottom: 75px;
	display: flex;
	justify-content: flex-start;
}
.Executive>div{
	width: 276px;
	height: 175px;
	border-radius: 4px;
	border:1px solid #bfbfbf;
	margin:11px;
	position: relative;
	padding-top: 20px;
	text-align: center;
}
.Executive>div img{
	width:50%;
}
.Executive>div p{
	font-size: 14px;
	position: absolute;
	bottom:20px;
	left:0;
	width: 100%;
	text-align: center;
}