	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	html,
	body {
		width: 100%;
		height: 100%;
	}
	
	body {
		margin: 0;
		padding: 0;
		font: 16px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
		font-family: "微软雅黑";
	}
	
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	div,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	.container {
		width: 1200px;
		margin: 0 auto;
	}
	/*浮动*/
	
	.pull-left {
		float: left;
	}
	
	.pull-right {
		float: right;
	}
	/*清楚浮动*/
	
	.clearfloat:after,
	.clearfloat:before {
		content: "";
		clear: both;
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	
	.clearfloat {
		zoom: 1;
	}
	/*显示*/
	
	.text-center {
		text-align: center;
	}
	
	.text-right {
		text-align: right;
	}
	/*图片*/
	
	img {
		margin: 0;
		padding: 0;
		border: 0;
	}
	
	.responsive-img {
		width: 100%;
	}
	/*字体*/
	
	.font-20 {
		font-size: 20px;
	}
	
	.font-16 {
		font-size: 16px;
	}
	
	.font-12 {
		font-size: 12px;
	}
	
	.font-14 {
		font-size: 14px;
	}
	/*背景*/
	
	.bg-fff {
		background-color: #fff;
	}
	
	.bg-000 {
		background-color: #000;
	}
	
	.bg-f3f3f3 {
		background-color: #F3F3F3;
	}
	/*头部*/
	
	.head {
		position: relative;
		height: 67px;
		line-height: 67px;
		width: 100%;
	}
	
	.head .head-left {
		position: absolute;
		left: 0;
		display: inline;
		height: 100%;
		top: 0;
		margin-left: 20px;
	}
	
	.head .head-left span {
		display: inline-block;
		position: relative;
		height: 100%;
	}
	
	.head .head-left span img {
		height: 60%;
		position: relative;
		top: 10px;
	}
	
	.head .head-right {
		position: absolute;
		display: inline;
		height: 100%;
		right: 0;
		top: 0;
	}
	
	.head .head-right ul li {
		line-height: 67px;
		display: inline-block;
		padding: 0 10px;
	}
	
	.head .head-right ul li a {
		color: #333;
	}
	/*导航*/
	
	.head-one {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}
	
	.head-one.active {
		background-color: #1694fb;
		cursor: pointer;
	}
	
	.head-one span {
		display: inline-block;
		background: url(../images/mian.png) no-repeat left center /100% 100%;
		width: 15px;
		height: 15px;
		vertical-align: middle
	}
	
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	.navBar {
		background: #03adf4;
		position: relative;
		z-index: 1;
		color: #fff;
		height: 60px;
		line-height: 60px;
	}
	
	.nav {
		margin: 0 auto;
		font-family: "Microsoft YaHei", SimSun, SimHei;
	}
	
	.nav h3 {
		font-size: 100%;
		font-weight: normal;
		font-size: 16px;
	}
	
	.nav .m {
		position: relative;
		float: left;
		width: 86px;
		margin: 0 10px;
		display: inline;
		text-align: center;
	}
	
	.nav h3 a {
		zoom: 1;
		height: 60px;
		line-height: 60px;
		/*padding: 12px 0;*/
		display: block;
		color: #fff
	}
	
	.nav .on h3 a {
		/*padding: 11px 0;*/
		border-bottom: 2px solid #fff;
	}
	
	.nav .on h3 a i {
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
	.nav .sub {
		display: none;
		/*默认隐藏*/
		/*padding: 10px 0;*/
		padding: 20px 0 50px 80px;
		position: absolute;
		left: 0px;
		top: 60px;
		background: #000;
		float: left;
		line-height: 30px;
		text-align: left;
		z-index: 5;
		box-sizing: border-box;
	}
	
	.nav .sub li {
		text-align: center;
	}
	
	.nav .sub li a {
		color: #fff;
		display: block;
		zoom: 1;
	}
	
	.nav .sub li a:hover {
		background: #000;
		color: #03adf4;
	}
	
	.nav .sub dl {
		margin: 0;
		zoom: 1;
		vertical-align: top;
		/*padding: 15px 29px;
				line-height: 26px;*/
		display: inline-block;
		*display: inline;
		text-align: left;
		width: 23%;
	}
	
	.nav #m3 .sub dl:nth-child(7) {
		position: absolute;
		top: 184px;
		left: 38px;
	}
	
	.nav #m3 .sub dl:nth-child(7) dt,
	.nav #m3 .sub dl:nth-child(8) dt {
		border-top: 1px solid #fff;
		width: 50%;
		padding-top: 5px;
	}
	
	.nav #m3 .sub dl:nth-child(8) {
		position: absolute;
		top: 235px;
		left: 705px;
	}
	
	.nav .sub dl dt a {
		color: #fff;
	}
	
	.nav .sub dl a:hover {
		color: #03adf4;
	}
	
	.nav .sub dl dd a {
		color: #fff;
		/*padding-left: 7px;*/
		font-size: 14px;
	}
	
	.nav #m3 .sub {
		padding-left: 40px;
	}
	
	.nav #m3 .sub dl {
		width: 16%;
	}
	
	.nav #m3 .sub dl dt {
		font-size: 16px;
	}
	
	.nav #m3 .sub dd {
		margin-left: 0;
		font-size: 12px;
	}
	
	.nav #m3 .sub {
		padding-bottom: 170px;
	}
	
	.nav #m3 .sub .two-dt {
		border-top: 1px solid #fff;
		width: 45%;
		padding-top: 10px;
		margin-top: 10px;
	}
	
	.nav #m1 .sub {
		padding-right: 500px;
	}
	
	.nav #m1 .sub dl {
		width: 33%;
	}
	
	.nav #m1 .sub dl a {
		color: #fff;
	}
	
	.nav #m1 .sub dl a:hover {
		color: #03adf4;
	}
	
	.nav #m2 .sub {
		width: 1004px;
		min-height: 520px;
		left: -168px;
	}
	
	.nav #m2 .sub dd {
		margin-left: 0;
	}
	/*测边栏*/
	
	.sidebar-sub {
		position: absolute;
		top: 127px;
		left: -201px;
		width: 200px;
		min-height: 100%;
		height: 100%;
		background-color: #313131;
		z-index: 15;
		border-right: 1px solid #bfbfbf;
		transition: left .3s;
		-moz-transition: left .3s;
		/* Firefox 4 */
		-webkit-transition: left .3s;
		/* Safari and Chrome */
		-o-transition: left .3s;
		/* Opera */
	}
	
	.sidebar-sub .sidebar-menu {
		padding-top: 10px;
		min-height: 100%;
	}
	
	.sidebar-sub.active {
		left: 0px;
	}
	
	.sidebar-menu li a {
		color: #fff;
		font-size: 14px;
	}
	
	.sidebar-menu li:hover,
	.sidebar-menu li:hover>.iconfont,
	.sidebar-menu li:hover>a {
		color: #03adf4;
		cursor: pointer;
	}
	
	.sidebar-menu li {
		line-height: 40px;
		padding: 0 15px 0 20px;
	}
	
	.sidebar-menu li>.icon-jiantou-you {
		color: #fff;
		font-size: 16px;
	}
	
	.sub-menu {
		position: absolute;
		top: 0;
		left: 200px;
		display: none;
		min-height: 100%;
		background-color: #313131;
		animation: all 5s infinite;
		-webkit-animation: all 5s infinite;
	}
	
	.sub-menu.active {
		display: block;
		left: 270px;
		opacity: 1;
	}
	
	.sub-menu.sub-menu-two {
		width: 200px;
	}
	
	.sub-menu-three li:first-child a {
		font-size: 16px;
	}
	
	.sub-menu-three {
		background: #303538;
		left: 200px;
		border-left: 1px solid #bfbfbf;
	}
	
	.sub-menu.w-344 {
		width: 334px;
	}
	/*页脚*/
	/*=-----------登录--------------*/
	
	.login-wrap {
		position: relative;
		height: 100%;
		width: 100%;
		background-color: #efeeee;
	}
	
	.login-wrap .head-right {
		padding-right: 86px;
	}
	
	.login-wrap .login-bg {
		height: 467px;
		overflow: hidden;
	}
	
	.login-wrap .login-bg .responsive-img {
		height: 100%;
	}
	
	.login-wrap .form-body {
		position: absolute;
		top: 170px;
		left: 15%;
		background-color: #fff;
		width: 1006px;
		/*height: 460px;*/
	}
	
	.login-wrap .form-body .form-input {
		width: 50%;
		padding: 50px 55px 40px 60px;
	}
	
	.login-wrap .form-body .form-input h4 {
		position: relative;
		height: 0;
		border-bottom: 1px solid #aaa;
		margin-bottom: 40px;
	}
	
	.login-wrap .form-body .form-input h4 span {
		position: absolute;
		top: -20px;
		left: 41%;
		width: 100px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #fff;
		color: #666666;
		font-size: 20px;
	}
	
	.login-wrap .form-body .input-from {
		height: 40px;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.login-wrap .form-body .input-from input {
		width: 100%;
		border: 1px solid #aaa;
		border-radius: 5px;
		line-height: 40px;
		padding-left: 10px;
	}
	
	.login-wrap .form-body .logbtn {
		width: 100%;
		display: block;
		line-height: 40px;
		margin-top: 20px;
		border: 0;
		background-color: #129afb;
		color: #fff;
		font-size: 16px;
		border-radius: 5px;
	}
	
	.login-wrap .form-body .logbtn:active {
		background-color: #126ffb;
	}
	
	.login-wrap .form-body .wj a {
		color: #666;
	}
	
	.login-wrap .form-body .tips {
		margin-top: 40px;
	}
	
	.login-wrap .form-body .tips .tips-title {
		position: relative;
		height: 0;
		border-bottom: 1px solid #dcdcdc;
	}
	
	.login-wrap .form-body .tips .tips-title span {
		position: absolute;
		top: -20px;
		left: 41%;
		width: 100px;
		line-height: 40px;
		background-color: #fff;
	}
	
	.login-wrap .form-body .tips li {
		display: inline-block;
		width: 33.33%;
		text-align: center;
		margin-top: 30px;
	}
	
	.login-wrap .form-body .tips li img {
		display: inline-block;
		width: 24%;
	}
	
	.login-wrap .form-body .tips li a {
		color: #666;
		font-size: 12px;
	}
	
	.login-wrap .form-body .pt-t {
		width: 50%;
		padding-top: 100px;
	}
	
	.login-wrap .form-body .err-tips {
		border: 1px solid #F15532;
		color: #F15532;
		height: 40px;
		line-height: 40px;
		margin-bottom: 20px;
		background-color: #FEEEEB;
		display: none;
	}
	/*----------------注册--------------------*/
	
	.regiter-wrap {
		height: 100%;
		background-color: #efeeee;
		position: relative;
		padding-top: 10%;
	}
	
	.regiter-wrap .register-form {
		width: 1002px;
		/*height: 540px;*/
		background-color: #fff;
		margin: 0 auto;
		padding: 30px 20px;
	}
	
	.regiter-wrap .register-form h4 {
		font-weight: normal;
		font-size: 20px;
		padding-left: 13%;
		margin-bottom: 30px;
	}
	
	.regiter-wrap .register-form h4 span {
		font-size: 14px;
	}
	
	.regiter-wrap .register-form h4 a {
		color: #03adf5;
	}
	
	.register-form .regs-input {
		width: 340px;
		height: 40px;
		margin: 0 auto;
		margin-bottom: 20px;
		/*margin-left: 32%;*/
	}
	
	.register-form .regs-input input {
		width: 100%;
		line-height: 40px;
		border: 1px solid #DCDCDC;
		border-radius: 5px;
		padding-left: 10px;
	}
	
	.register-form .regs-input.tel label {
		display: inline-block;
		text-align: center;
		line-height: 42px;
		width: 15%;
		border: 1px solid #DCDCDC;
		border-right: 0;
		margin: 0;
		padding: 0;
		float: left;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	.register-form .regs-input.tel input {
		width: 85%;
		float: left;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	.register-form .regs-input .regs-btn {
		width: 100%;
		display: block;
		line-height: 40px;
		margin-top: 20px;
		border: 0;
		background-color: #129afb;
		color: #fff;
		font-size: 16px;
		border-radius: 5px;
	}
	
	.register-form .regs-input.yzm input {
		width: 60%;
	}
	
	.register-form .regs-input.yzm input:last-child {
		margin-left: 5%;
		width: 35%;
	}
	
	.register-form .regs-input .regs-btn:active {
		background-color: #126ffb;
	}
	
	.register-form .regs-input.ck {
		margin-top: 20px;
	}
	
	.ck {
		position: relative;
	}
	
	.ck input[type=checkbox] {
		position: absolute;
		opacity: 0;
		filter: alpha(opacity=0);
		top: -10px;
		left: 0;
		z-index: 2;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
	
	.ck label {
		cursor: pointer;
		position: absolute;
		top: 5px;
		width: 16px;
		height: 16px;
	}
	
	.ck input+label {
		background: url(../img-icon/zc-icon1.png) no-repeat left center;
		background-size: 100% 100%;
		/*border: 1px solid red;*/
	}
	
	.ck input.chenck+label {
		background: url(../img-icon/zc-icon.png) no-repeat left center;
		background-size: 100% 100%;
	}
	
	.register-form .regs-input a {
		color: #03adf5;
		font-size: 14px;
	}
	
	.register-form .err-tips {
		border: 1px solid #F15532;
		color: #F15532;
		height: 40px;
		line-height: 40px;
		background-color: #FEEEEB;
		width: 340px;
		margin: 0 auto;
		margin-bottom: 20px;
		display: none;
	}
	/*-------------------首页----------------------*/
	/* wang-banner */
	
	.wang-banner {
		min-width: 1000px;
		position: relative;
		/*height: 723px;*/
		overflow: hidden;
	}
	
	.wang-banner .bd {
		position: relative;
		z-index: 0;
	}
	
	.wang-banner .bd ul {
		width: 100% !important;
		/*background-size: 100% 100%;*/
	}
	
	.wang-banner .bd li {
		width: 100% !important;
		height: 520px;
		/*background-size: 100% 100%!important;*/
	}
	
	.wang-banner .hd {
		width: 100%;
		position: absolute;
		/*z-index: 1;*/
		bottom: 0;
		left: 0;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
	
	.wang-banner .hd ul li {
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 11px;
		height: 11px;
		margin: 4px 12px;
		background: #bfbfbf;
		overflow: hidden;
		line-height: 9999px;
		filter: alpha(opacity=40);
		/*opacity: 0.4;*/
		border-radius: 50%;
	}
	
	.wang-banner .hd ul .on {
		background: #fff;
	}
	/*首页 服务*/
	
	.wang-server {
		padding-top: 64px;
		padding-bottom: 76px;
	}
	
	.wang-server-title {
		margin-bottom: 68px;
	}
	
	.wang-server-title h4 {
		font-size: 24px;
	}
	
	.wang-server-list {
		height: 470px;
		overflow: hidden;
	}
	
	.wang-server-list li {
		width: 20%;
		text-align: center;
		margin-bottom: 40px;
		height: 120px;
	}
	
	.wang-server-list li .list-icon {
		width: 86px;
		height: 66px;
		margin: 0 auto;
	}
	
	.wang-server-list li .list-icon img {
		width: 50%;
		/*height: 80%;*/
	}
	
	.wang-server-list li .list-icon.zhuanji img {
		width: 70%;
	}
	
	.wang-server-list li a {
		display: block;
		color: #000;
		font-size: 14px;
		padding: 0 20%;
		text-align: center;
	}
	
	.wang-server-list li a:hover {
		color: #3b9afd;
	}
	
	.wang-server-list li:first-child a {
		color: #3b9afd
	}
	
	.look-all span {
		display: inline-block;
		border: 1px solid #1371fc;
		border-radius: 10px;
		width: 150px;
		line-height: 40px;
		color: #2d8cfd;
		font-size: 14px;
	}
	
	.look-all span:hover {
		cursor: default;
	}
	/*首页解决方案*/
	
	.solveProgramme .solveProgramme-bg {
		width: 100%;
		height: 280px;
		background-color: #000;
		padding-top: 40px;
	}
	
	.solveProgramme .container {
		margin-top: -165px;
		background-color: #fff;
	}
	
	.software-server h4 {
		font-size: 16px;
		margin-top: 20px;
	}
	
	.solveProgramme .solveProgramme-title {
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 5px 60px;
		color: #fff;
		position: relative;
	}
	
	.solveProgramme .solveProgramme-title span {
		position: absolute;
		bottom: -10px;
		left: 8%;
		width: 80%;
		background-color: #000;
		padding: 0 2px;
	}
	
	.solveProgramme .fangan-img {
		padding: 10px 0 0 10px;
	}
	
	.solveProgramme .fangan-img>div {
		display: inline-block;
		width: 265px;
		height: 320px;
		overflow: hidden;
		border-radius: 15px;
		margin: 15px;
		position: relative;
	}
	
	.solveProgramme .fangan-img>div .mark {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, .3);
	}
	
	.solveProgramme .fangan-img>div .jj-txt {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		color: #fff;
		box-sizing: border-box;
		padding: 50% 25% 0;
		text-align: center;
	}
	
	.solveProgramme .fangan-img>div img {
		transition: All 0.4s ease-in-out;
		-webkit-transition: All 0.4s ease-in-out;
		-moz-transition: All 0.4s ease-in-out;
		-o-transition: All 0.4s ease-in-out;
	}
	
	.solveProgramme .fangan-img>div:hover p {
		color: #3b9afd;
	}
	
	.solveProgramme .fangan-img>div:hover img {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2);
	}
	/**/
	
	.software-server-list {
		height: 360px;
		overflow: hidden;
	}
	
	.software-server li {
		display: inline-block;
		width: 33%;
		height: 150px;
		overflow: hidden;
		margin-top: 35px;
	}
	
	.software-server li .media-img {
		width: 86px;
		margin: 0 auto;
	}
	
	.software-server li .media-img img {
		width: 50%;
	}
	
	.software-server li .media-body {
		height: 100px;
		overflow: hidden;
	}
	
	.software-server li.tw {
		width: 50%;
	}
	
	.software-server li .media-body a {
		padding: 0 5px;
	}
	
	.software-server li .media-body div {
		padding: 0 43px;
	}
	
	.software-server li .media-body h5 a:after {
		content: '';
	}
	
	.software-server li a {
		color: #000;
		font-size: 14px;
		opacity: .8;
	}
	
	.software-server li h5 {
		color: #000;
		font-weight: normal;
	}
	
	.software-server li h5 a {
		font-size: 18px;
		opacity: 1;
	}
	
	.software-server li a:hover {
		color: #3b9afd;
	}
	
	.software-server .look-all {
		margin: 40px 0px 60px;
	}
	
	.software-server .look-all span {
		border-color: #000;
		color: #000;
	}
	
	.xiehsou-gongjian {
		padding-bottom: 40px;
	}
	
	.xiehsou-gongjian li {
		text-align: center;
		height: inherit;
		width: 25%;
	}
	
	.xiehsou-gongjian li img {
		width: 100%;
		margin-left: 70px;
	}
	/*-------------------------解决方案-----------------------------------*/
	/*悬浮菜单*/
	
	.xuanf-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		z-index: 10;
		background-color: #fff;
		border-bottom: 1px solid #DFDFDF;
		display: none;
	}
	
	.xuanf-nav ul {
		padding-left: 200px;
	}
	
	.xuanf-nav li {
		width: 200px;
		text-align: center;
	}
	
	.xuanf-nav li.on a {
		color: #037afe;
		border-color: #037afe;
	}
	
	.xuanf-nav li a {
		color: #000;
		padding-bottom: 13px;
		border-bottom: 1px solid #fff;
	}
	
	.cms {
		height: 60px;
	}
	/**/
	
	.solveProgramme-wrap .banner {
		/*height:460px;*/
		border-top: 1px solid #bfbfbf;
		position: relative;
	}
	
	.solveProgramme-wrap .banner .banner-txt {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		/*z-index: 2;*/
		color: #fff;
	}
	
	.solveProgramme-wrap .banner .banner-txt h4 {
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 20px;
	}
	
	.solveProgramme-wrap .banner .banner-txt p {
		width: 432px;
		font-size: 12px;
		margin: 0 auto;
		line-height: 30px;
	}
	
	.solveProgramme-wrap .banner .banner-txt .understand-all {
		display: inline-block;
		width: 120px;
		line-height: 30px;
		border: 1px solid #fff;
		border-radius: 5px;
		color: #fff;
		margin-top: 20px;
	}
	
	.solveProgramme-wrap .banner .banner-txt .understand-all:hover {
		background: #fff;
		color: #09a5f7;
	}
	/*内容*/
	
	.solveProgramme-content {
		position: relative;
	}
	
	.solveProgramme-content a {
		color: #000000;
	}
	
	.solveProgramme-content .Crumbs-nav {
		border: 1px solid #fff;
		line-height: 40px;
		border-radius: 5px;
		padding-left: 200px;
		-webkit-border-radius: 5px;
		box-shadow: 1px 1px 10px 1px #4b9efa;
		-webkit-box-shadow: 1px 1px 10px 1px #4b9efa;
		position: absolute;
		top: -25px;
		left: 0;
		width: 100%;
		background: #fff;
		box-sizing: border-box;
	}
	
	.solveProgramme-content .Crumbs-nav li {
		display: inline-block;
		width: 200px;
		text-align: center;
	}
	
	.solveProgramme-content .Crumbs-nav li a {
		display: block;
	}
	
	.solveProgramme-content #cm1 {
		padding-top: 50px;
	}
	
	.small-title {
		line-height: 20px;
		padding-left: 20px;
		border-left: 2px solid #0587ff;
	}
	
	.solveProgramme-content .hanye-txt {
		margin-top: 30px;
		padding: 56px 70px 60px;
		border: 1px solid #bfbfbf;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-webkit-border-radius: 5px;
		box-shadow: 0px 0px 7px 1px #4b9efa;
		-webkit-box-shadow: 0px 0px 7px 1px #4b9efa;
	}
	
	.solveProgramme-content .hanye-txt h4 {
		font-size: 20px;
		/*font-weight: normal;*/
		margin-bottom: 15px;
	}
	
	.solveProgramme-content .hanye-txt p {
		text-indent: 28px;
	}
	
	.content-Title {
		border-top: 1px solid #bfbfbf;
		position: relative;
		text-align: center;
	}
	
	.content-Title span {
		display: inline-block;
		padding: 1px 10px;
		background-color: #fff;
		position: absolute;
		top: -16px;
		left: 46%;
	}
	
	.solveProgramme-content #cm2,
	.solveProgramme-content #cm3,
	.solveProgramme-content #cm4 {
		margin-top: 60px;
	}
	
	.solveProgramme-content #cm3 .content-Title span {
		left: 45.3%;
	}
	
	.solveProgramme-wrap .slideTxtBox {
		margin-top: 30px;
	}
	
	.solveProgramme-wrap .slideTxtBox .hd {
		height: 40px;
		line-height: 38px;
		width: 410px;
		border: 1px solid #d2d2d2;
		margin-bottom: 34px;
	}
	
	.solveProgramme-wrap .slideTxtBox .hd ul li {
		float: left;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		width: 136px;
		background-color: #eeeeee;
	}
	
	.solveProgramme-wrap .slideTxtBox .hd ul li:nth-child(2) {
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
	}
	
	.solveProgramme-wrap .slideTxtBox .hd ul li.on {
		background: #fff;
	}
	
	.solveProgramme-wrap .slideTxtBox .bd ul li {
		border: 1px solid #d2d2d2;
		float: left;
		display: inline-block;
		width: 285px;
		padding: 40px 30px;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	
	.solveProgramme-wrap .slideTxtBox .bd ul li:nth-child(4n) {
		margin-right: 0;
	}
	
	.solveProgramme-wrap .slideTxtBox .bd ul li a {
		display: block;
	}
	
	.solveProgramme-wrap .slideTxtBox .bd ul li:hover {
		box-shadow: 0px 0px 5px 1px #4b9efa;
		-webkit-box-shadow: 0px 0px 5px 1px #4b9efa;
	}
	
	.solveProgramme-wrap .slideTxtBox .bd .media-body {
		padding-left: 56px;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh {
		padding-top: 60px;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a {
		padding: 0 20px;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a .head-tou {
		display: inline-block;
		width: 94px;
		height: 94px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		overflow: hidden;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a .head-tou img {
		height: 100%
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a {
		display: inline-block;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a p {
		font-size: 12px;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a p.kf-name {
		font-size: 16px;
	}
	
	.solveProgramme-wrap #cm3 .serve-kh a:hover {
		color: #028AF4;
	}
	
	.solveProgramme-wrap .khan-content {
		padding-top: 30px;
		margin-bottom: 60px;
	}
	
	.solveProgramme-wrap .khan-content li {
		float: left;
		display: inline-block;
		width: 287px;
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid #bfbfbf;
		margin-right: 14px;
		padding-bottom: 20px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	
	.solveProgramme-wrap .khan-content li:last-child {
		margin-right: 0;
	}
	
	.solveProgramme-wrap .khan-content .media-img {
		width: 200px;
		margin: 0 auto;
	}
	
	.solveProgramme-wrap .khan-content .media-footer .jt-name {
		width: 77px;
		text-align: center;
		margin-left: 80px;
	}
	
	.solveProgramme-wrap .khan-content .media-footer a {
		display: inline-block;
		margin-top: 10px;
		padding: 1px 15px;
		color: #037afe;
		border: 1px solid #037afe;
		border-radius: 5px;
		font-size: 14px;
		margin-left: 5px;
	}
	
	.solveProgramme-wrap .khan-content li:hover {
		box-shadow: 0px 0px 5px 1px #4b9efa;
		-webkit-box-shadow: 0px 0px 5px 1px #4b9efa;
		border-color: #fff;
	}
	
	.solveProgramme-wrap.solveProgramme2-wrap .banner .banner-txt {
		padding-left: 8%;
		box-sizing: border-box;
	}
	
	.solveProgramme-wrap.solveProgramme2-wrap .banner .banner-txt p {
		margin: 0;
	}
	
	.solveProgramme2-wrap #cm2 ul {
		margin-top: 30px;
	}
	
	.solveProgramme2-wrap #cm2 li {
		display: inline-block;
		width: 349px;
		height: 416px;
		border-radius: 10px;
		overflow: hidden;
		margin-right: 76px;
	}
	
	.solveProgramme2-wrap #cm2 li:last-child {
		margin-right: 0;
	}
	
	.solveProgramme2-wrap #cm2 li img {
		height: 100%;
		transition: All 0.4s ease-in-out;
		-webkit-transition: All 0.4s ease-in-out;
		-moz-transition: All 0.4s ease-in-out;
		-o-transition: All 0.4s ease-in-out;
	}
	
	.solveProgramme2-wrap #cm2 li img:hover {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2);
	}
	
	.solveProgramme2-wrap .cont-f3 {
		padding-top: 40px;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin {
		padding-top: 40px;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list {
		margin-top: 30px;
		padding-bottom: 10px;
		margin-bottom: 40px;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list li {
		width: 288px;
		border: 1px solid #DFDFDF;
		border-radius: 10px;
		overflow: hidden;
		margin-right: 13px;
		box-sizing: border-box;
		padding: 5px;
		background-color: #fff;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list li:hover {
		box-shadow: 0px 0px 5px 1px #4b9efa;
		-webkit-box-shadow: 0px 0px 5px 1px #4b9efa;
		border-color: #fff;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list li:last-child {
		margin-right: 0;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list .media-img {
		padding: 20px 0;
		box-sizing: border-box;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list .media-body {
		padding: 0 20px 30px;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list .media-body .money {
		margin-top: 5px;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list .media-body .money span {
		color: #ff1516;
	}
	
	.solveProgramme2-wrap .tuijian-chanpin .media-list .media-body .money a {
		padding: 1px 10px;
		border: 1px solid #037afe;
		border-radius: 5px;
		color: #037afe;
		float: right;
	}
	/*--------------技术支持------------------*/
	
	.jishu-wrap .jishu-content .container {
		position: relative;
	}
	
	.jishu-wrap .jishu-subnav {
		background-color: #fff;
		position: absolute;
		top: -80px;
		left: 0;
		padding: 20px 20px;
		border-radius: 5px;
		width: 100%;
		box-shadow: 1px 1px 10px 0.1px #03adf4;
		-webkit-box-shadow: 1px 1px 10px 0.1px #03adf4;
	}
	
	.jishu-wrap .jishu-subnav h4 {
		font-weight: normal;
		font-size: 16px;
		margin-bottom: 10px;
	}
	
	.jishu-wrap .jishu-subnav>div {
		width: 33.33%;
	}
	
	.jishu-wrap .jishu-subnav ul {
		border-left: 1px solid #aaaaaa;
		line-height: 20px;
		padding-left: 16px;
	}
	
	.jishu-wrap .jishu-subnav ul li {
		width: 33.33%;
		font-size: 12px;
	}
	
	.jishu-wrap .jishu-subnav ul a {
		color: #000;
	}
	
	.jishu-wrap .jishu-subnav ul a:hover {
		color: #03adf4;
		text-decoration: underline;
	}
	
	.jishu-wrap .zhuany-server {
		padding-top: 80px;
	}
	
	.jishu-wrap .zhuany-server h4 {
		font-weight: normal;
	}
	
	.jishu-wrap .www360buy .hd {
		overflow: hidden;
		border-bottom: 1px solid #aaa;
	}
	
	.jishu-wrap .www360buy .hd ul {
		padding-left: 21%;
	}
	
	.jishu-wrap .www360buy .hd li {
		position: relative;
		margin-left: -1px;
		height: 37px;
		line-height: 37px;
		text-align: center;
		width: 177px;
		float: left;
		font: normal 14px/37px "Microsoft YaHei";
		_font-weight: bold;
		cursor: default;
	}
	
	.jishu-wrap .www360buy .hd li .s-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(../img-icon/server-iconclick-1.png) no-repeat center center;
		background-size: 100% 100%;
		vertical-align: middle;
	}
	
	.jishu-wrap .www360buy .hd li .s-icon.yy {
		background-image: url(../img-icon/server-iconclick-4.png);
	}
	
	.jishu-wrap .www360buy .hd li .s-icon.js {
		background-image: url(../img-icon/server-iconclick-2.png);
	}
	
	.jishu-wrap.www360buy .hd li .s-icon.xt {
		background-image: url(../img-icon/server-iconclick-3.png);
	}
	
	.jishu-wrap .www360buy .hd li.on {
		color: #03adf4;
		cursor: pointer;
	}
	
	.jishu-wrap .www360buy .hd li.on .s-icon {
		background-image: url(../img-icon/server-icon2.png);
	}
	
	.jishu-wrap .www360buy .hd li.on .s-icon.yy {
		background-image: url(../img-icon/server-icon5.png);
	}
	
	.jishu-wrap .www360buy .hd li.on .s-icon.js {
		background-image: url(../img-icon/server-icon3.png);
	}
	
	.jishu-wrap .www360buy .hd li.on .s-icon.xt {
		background-image: url(../img-icon/server-icon4.png);
	}
	
	.jishu-wrap .www360buy .bd {
		border-top: 0;
	}
	
	.jishu-wrap .www360buy .lh {
		overflow: hidden;
	}
	
	.jishu-wrap .zhuany-server .js-txt {
		width: 600px;
		padding: 40px;
	}
	
	.jishu-wrap .js-img {
		width: 600px;
		padding: 10px 0;
	}
	
	.jishu-wrap .zhuany-server .js-txt h4 {
		padding-bottom: 10px;
		font-weight: normal;
	}
	
	.jishu-wrap .look-del a {
		display: inline-block;
		width: 100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		border: 1px solid #03adf4;
		color: #03adf4;
		border-radius: 5px;
		margin: 30px 0 30px 20px;
	}
	
	.jishu-wrap .zhineng-server {
		background-color: #f4f7f9;
		padding: 40px 0 80px 0;
	}
	
	.zhineng-server ul {
		padding: 0 10px;
		margin-top: 30px;
	}
	
	.zhineng-server li {
		width: 380px;
		background-color: #fff;
		padding: 50px 34px;
		box-shadow: 1px 1px 10px 0.1px #aaa;
		-webkit-box-shadow: 1px 1px 10px 0.1px #aaa;
		transition: All 0.4s ease-in-out;
		-webkit-transition: All 0.4s ease-in-out;
		-moz-transition: All 0.4s ease-in-out;
		-o-transition: All 0.4s ease-in-out;
	}
	
	.solveProgramme .fangan-img>div:hover p {
		color: #3b9afd;
	}
	
	.zhineng-server li:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
	}
	
	.zhineng-server li h5 {
		color: #03adf4;
		font-weight: normal;
	}
	
	.zhineng-server li p {
		color: #000;
	}
	
	.zhineng-server li:nth-child(2) {
		margin: 0 20px;
	}