.jichuruanjian-conts>div{
			  width: 280px !important;
		    height: 367px !important;
		    box-sizing: border-box;
		    border: 1px solid #bfbfbf  !important;
		    margin-left: 27px;
		    border-radius: 5px;
		}
		.jichuruanjian-conts>div:nth-child(1){
			margin-left: 0;
		}
		.conts-imgs img {
    margin-top: 20px;
}
.jichuruanjian-conts>div h3 {
    text-align: center;
    margin-bottom: 20px;
}
.jichuruanjian-conts>div p b {
   margin-bottom: 9px;
}
.jichuruanjian-conts>div p:nth-child(1) {
    padding-left: 5px;
    overflow: hidden;
    padding-right: 5px;
}
.jichuruanjian-conts>div>span{
	color:#333;
	width:149px;
	margin:20px auto;
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-weight:500;
	font-size: 24px;
	padding:2px;
}
.jichuruanjian-conts>div p img{
	max-width: 100%;
}
.conts-ims-ls{
	text-align: center;
	margin-top: 20px;
}
.jichuruanjian-conts>div p  span button{
	background: white;
	border:none;
	color:white;
	background: #2c8afa;
	width:111px;
	height: 27px;
	border-radius: 5px;
}