
html,body{
	width:100%;
    font: 16px/1.5 '微软雅黑',tahoma,arial,\5b8b\4f53,sans-serif;
	margin:0 ;
	padding:0;
	box-sizing: border-box;
	overflow-y: scroll;
}
ul,li{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#333;
}
p{
	margin:0;
}
/*头部*/
.yunsc-head{
	position: relative;
	height: 67px;
	line-height: 67px;
	width:100%;
}
.yunsc-head .yunsc-head-left{
	position: absolute;
	left:0;
	display: inline;
	height: 100%;
	top:0;
	margin-left: 20px;
}
.yunsc-head .yunsc-head-left span{
	display: inline-block;
	position: relative;
	height: 100%;
}
.yunsc-head .yunsc-head-left span img{
	height: 60%;
	position: relative;
	top:10px;
}
.yunsc-head .yunsc-head-right{
	position: absolute;
	display: inline;
	height: 100%;
	right:0;
	top:0;
}
.yunsc-head .yunsc-head-right ul li{
	line-height: 67px;
	display: inline-block;
	padding:0 10px;
}
.yunsc-head .yunsc-head-right ul li a{
	color:#333;
}


/*导航*/
nav{
	width:100%;
	color:#333;
}
.yunsc-nav-head{
	position: relative;
	width:1200px;
	margin:0 auto;
}
.yunsc-head-one{
	display: inline-block;
	font-size: 16px;
	text-align: left;
	position: relative;
	width:200px;
}
.yunsc-head-one span:nth-child(1){
	display:block;
	font-size: 45px;
	font-weight: 400;
}
.yunsc-head-one span:nth-child(2){
	display:block;
	font-size: 13px;
}
/*云市场中*/
.yunsc-head-mid{
	display: inline-block;
	position: relative;
	height: 100%;
	width:800px;
}
/*服务*/
.requirements{
	position: relative;
	color:#414141;
	margin:0;
	margin-left: 20px;
}
.requirements input[type="text"]{
	position: relative;
	width:532px;
	outline: none;
	height:44px;
	border:2px solid #2c8afa;
	color:#414141;
	border-radius: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	  margin-right: 4px;
}
.requirements input[type="button"]{
	outline: none;
	  position: absolute;
    top: 2px;
    border: none;
    height: 40px;
    background: #2c8afa;
    border-radius:8px;
    left: 426px;
    width: 106px;
    color: white;
}
.requirements button{
    background: #2c8afa url(../images/dao.png) no-repeat 100px center;
	outline: none;
	  margin-left: 4px;
    border-radius:8px;
    width: 122px;
    border: none;
    text-align: left;
    padding-left: 15px;
    color: white;
    height: 42px;

}
.mod-Magic{
	margin:0;
	margin-top: 5px;
}
.mod-Magic a{
	color:#4e4e4e;
	padding: 0 10px;
	border-right:1px solid #b5b5b5;
}
.mod-Magic a:last-child{
	padding: 0 10px;
	border-right:none;
}
/*导航分类*/
.nav-classify{
	width:100%;
	margin-top: 30px;
	position: relative;
}
.nav-classify>span{
	display: inline-block;
	width:232px;
    background: #2c8afa;
	height: 40px;
	line-height: 40px;
	color:white;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	border-radius: 8px 8px 0 0 ;
}
.nav-classify ul,.nav-classify ul li{
	display: inline-block;
}
.nav-classify ul li a{
	color:#333;
	padding:0 14px;
}
.nav-classify ul li a:hover{
	color:#2c8afa;
}
/*分类内容*/
.Classified-content{
	position: absolute;
	left:0;
	top:41px;
	width:232px;
    color:white;
	font-size: 14px;
}
.Classified-content>div{
	margin:0;
	height: 40px;
	box-sizing: border-box;
	position: relative;
    background: #2c8afa;
	line-height: 40px;
}
.Classified-content>div>a{
	color:white;
	display: block;
	cursor: pointer;
	width:100%;
}
.Classified-content>div>a:hover{
	background:#2c7afa;
}
.Classified-content>div>a:hover > .cont-yinceng{
	display: block;
}
.cont-yinceng{
	position: absolute;
	left:232px;
	top:0;
	color:#2c8afa;
	background: white;
	border:1px solid #2c8afa;
	z-index: 2;
	display: none;
	width:685px;
}
.cont-yinceng span{
	font-size: 14px !important;
	padding-left: 8px;
	display: inline-block;
}
.cont-yinceng span:hover{
	color:#fcb981;
}
.Classified-content>div span{
	margin:0 5px;
	display: inline-block;
	height: 100%;
}
.Classified-content>div span:nth-child(1){
	font-size: 16px;
	padding-left: 8px;
}
/*免费发布*/
.Free-distribution{
    background:#4d98fd !important;
    margin:0;
    height:115px !important;
    padding-bottom: 20px;
}
.Free-distribution p{
	height: 30px;
	line-height: 30px;
	margin:0;
	text-align: center;
}
.Free-distribution p input[type="text"]{
	border:none;
	border-left: 6px solid #4a77fa;
	height: 25px;
	border-radius: 4px;
	border-right: 6px solid #4a77fa;
	box-sizing: border-box;
}
.Free-distribution p:last-child{
	margin-top:5px;
	display:block;
}
.Free-distribution p input[type="button"]{
	background: white;
	color:#4a77fa;
	border:none;
	height: 25px;
	box-sizing: border-box;
	border-radius: 4px;
	width:181px;
}
/*划过线*/
/*.line{
	position: absolute;
    width: 0;
    height: 3px;
    left: 115px;
    bottom: 0;
    background: white;
    transition: width .3s cubic-bezier(.4,0,.2,1);
}
.show{
    transition: all .2s cubic-bezier(.4,0,.2,1);
}*/
/*煤科云市场*/
.Coal-cloud{
	width:1200px;
	height:435px;
	margin:0 auto;
	margin-top:1px;
	color:white;
}
.Coal-c-cont{
	display: inline-block;
	width:719px;
	height: 95%;
	top:-139px;
	position: relative;
	left:260px;
	margin-top:1.8%;
	background: url(../images/meikeyun.png) no-repeat 60% center/176% 100%;
}
.Coal-c-cont-c{
	margin:10% 0 0 91px;
}
.Coal-c-cont-c p:last-child{
	border:1px solid white;
	border-radius: 5px;
	margin:0;
	display: inline-block;
	margin-top: 20px;
	margin-left:20px;
}
.Coal-c-cont-c input{
	padding:5px 10px;
	display: block;
	border:none;
	background:transparent;
	color:white;
}
.Coal-c-right{
	left:277px;
	position: relative;
	display: inline-block;
	width:180px;
	top:-0;
	height: 100%;
}
.Coal-c-right div{
	height:49%;
	margin-bottom: 2%;
	box-sizing: border-box;
	border:1px solid #a0a0a0;
	color:#333;
	padding-left: 10px;
	padding-right: 10px;
}
.Coal-c-right div  h3{
	margin:10px 0 5px 0;
	font-weight: 100;
	font-size: 18px;
}
.Coal-c-right div p{
	margin:0;
	font-size: 12px;
}

/*线下服务*/
#offline-ervice{
	width:100%;
	height:384px;
	background: #f9f7f5;
	margin-top:18px;
}
.offline-ervice-c{
	width:1200px;
	margin:0 auto;
}
.offline-ervice-c .offline-cont{
	width:285px;
	background: white;
	margin-top:30px;
	margin-right: 10px;
	display: inline-block;
}
.offline-cont>div{
	padding:20px 0;
	border-bottom: 1px solid #bfbfbf;
}
.offline-cont:nth-child(1)>div{
	border-left: 3px solid #40b1ff;
}
.offline-cont:nth-child(2)>div{
	border-left: 3px solid #40ff8d;
}
.offline-cont:nth-child(3)>div{
	border-left: 3px solid #41b0ff;
}
.offline-cont:nth-child(4)>div{
	border-left: 3px solid #7b3fff;
}
.offline-cont>div p{
	
	margin:0;

}
.offline-cont>div p:last-child{
	font-size: 14px;
}
 .offline-cont p a{
 	color:#333;
 }

  .offline-cont p {
 	padding:0 24px;
 	box-sizing:border-box;
  	color:#a3a3a3;
  }
   .offline-cont p span{
   	float: right;
   }
    .offline-cont p span a{
    	color:#6bc9fa;
    }
    .offline-cont dl {
    	height:95px;
    	padding-top:20px;
    	box-sizing: border-box;
    }
    .offline-cont dl dt{
    	margin-left: 38px;
    	position: relative;
    	padding-top:3px;
    	display: inline-block;
    }
    .offline-cont dl dd{
    	display: inline-block;
    	position: relative;
    	margin:0;
    	top:-7px;
    }
     .offline-cont dl dd p{
     	margin:0;
     	height:30px;
     	line-height:30px;
     }
       .offline-cont a:hover{
  	color:#2483b5;
  }

  /*软件应用*/
  #software{
  	width:1200px;
  	margin:0 auto;
  }
  .software-cont{
  	width:589px;
  	display: inline-block;
  }
  .software-cont:nth-child(odd){
  	margin-right: 17px;
  }
   .software-cont>p{
   	height:75px;
   	line-height: 75px;
   }
  /*左*/
  .soft-con-l{
  	display: inline-block;
  	width:149px;
  	position: relative;
  	margin:0;
   		left:0;
  	color:white;
  	border-radius: 10px 0  0  10px;
  	overflow:hidden;
  }
    .soft-con-l h3{
  	background:#25a3fb ;
	margin:0;
	line-height: 85px;
	height:85px;
	font-size: 16px;
	padding-left: 10px;
    }
     .soft-con-l>div{
	  	background:rgba(37, 163, 251, 0.76) ;
		height:177px;
     }
   .soft-con-l>div a{
   	color: #fff;
    padding: 0 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
  	background:#25a3fb ;
    margin-top: 4px;
    margin-left: 4px;
   }
  
   .soft-con-l>div a:hover{
   	color: #25a3fb;
   	background: white;
   }
   /*右*/
   .soft-con-r{
   		position: relative;
   		display: inline-block;
   		left:-5px;
   		width:435px;
   		border:1px solid #a0a0a0;
   		border-radius:0 10px 10px 0 ;
	  	box-sizing: border-box;
	  	margin:0;
	  	top:-21px;
	  	height: 262px;
   }
   .soft-con-r ul{
   	display: flex;
   	justify-content: flex-start;
   	justify-item:center;
   }
   .soft-con-r ul li{
   	width:145px;
   	height:187px;
   	display: inline-block;
   	text-align: center;
	border-right:1px solid #bfbfbf;
   }
   .soft-con-r ul li:hover{
	box-shadow: 0px 0px 11px 1px #bfbfbf;
   	 transition: all .3s ease-in-out;
   }
  .soft-con-r ul li:last-child{
  	border:none;
  }
    .soft-con-r ul li img{
    	width:50%;padding-top: 20px;
    }
   .soft-con-r dl{
	   	width:100%;
	   	height:76px;
	   	box-sizing: border-box;
	   	margin:0;
	border-top:1px solid #bfbfbf;
	   	display: flex;
   	justify-content: flex-start;
   	justify-item:center;
   }
   .soft-con-r dl dt{
		padding-left:52px;
		padding-top:18px;
	   	box-sizing: border-box;
		width: 126px;
		text-align: center;
   }
   .soft-con-r dl dt img{
   	height: 60%;
   }
    .soft-con-r dl dd{
	   	margin:0;
	   	padding-top:12px;
    	line-height: 25px;
    }
    .soft-con-r dl dd p{
    	font-size: 18px;
    }
    .soft-con-r dl dd p:last-child{
    	color:#696969;
    	font-size: 14px;
    }

.active{
	color:#2c8afa !important;
}
.act-p{
	background: rgb(44,125,250)  !important;
}
hover