* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: '微软雅黑';
  outline: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
@font-face {
  font-family: 'iconfont';
  /* project id 165617 */
  src: url('http://at.alicdn.com/t/font_165617_x30tldfczqq41jor.eot');
  src: url('//at.alicdn.com/t/font_165617_x30tldfczqq41jor.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_165617_x30tldfczqq41jor.woff') format('woff'), url('http://at.alicdn.com/t/font_165617_x30tldfczqq41jor.ttf') format('truetype'), url('http://at.alicdn.com/t/font_165617_x30tldfczqq41jor.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont';
  color: #fff;
}
input {
  display: block;
  width: 300px;
  height: 45px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  margin: 30px auto;
  padding-left: 20px;
  font-size: 16px;
}
.list {
  width: 900px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.list li {
  width: 300px;
  height: 300px;
  float: left;
  border: 1px solid cadetblue;
}
.list li h3 {
  width: 100%;
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 22px;
}
.list li div {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
