.box {
    width: 100%;
    height: auto;
    text-align: center;
}

.page {
    list-style: none;
    display: inline-block;
}

.page>li {
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.page .pageItem {
    border: 1px solid #0099FF;
    margin: 10px;
    color: #666;
}

.page .pageItemActive {
    border: 1px solid #0099FF;
    margin: 10px;
    background-color: #0099FF;
    color: white;
}

.page .pageItem:hover {
    border: solid thin #0099FF;
    background-color: #0099FF;
    color: white;
}

.page .pageItemDisable {
    border: 1px solid #0099FF;
    margin: 10px;
    color: #666;
}