<!--<router-outlet></router-outlet>-->
<header>
    <!--logo start-->
    <div class="head_log">
        <img src="./assets/img/logo.png" alt="">
        <span class='iconfont'>&#xe6a2;</span>
    </div>
    <!--logo end-->
    <!--user start-->
    <div class="user">
        <div class="user_box">
            <img src="./assets/img/user.jpg">
            <span>FiveNing</span>
            <span class="iconfont">&#xe7cf;</span>
        </div>
        <div class="selfinfo">
            <img src="./assets/img/user.jpg" alt="">
            <h6>
                <span class="left">用户名：FiveNing</span>
                <span class="right">职位：前端工程师</span>
                <div (click)='login()'>退出登录</div>
            </h6>
        </div>
    </div>
    <!--user end-->
</header>

<!--nav start-->

<ul id="accordion" class="accordion">

    <li>

        <div class="link">echarts应用<i class="fa fa-chevron-down"></i></div>

        <ul class="submenu">

            <li><a [routerLink]="['/zhexiantu']">折线图</a></li>

            <li><a>柱状图</a></li>

            <li><a>地图</a></li>

            <li><a>饼图</a></li>

            <li><a>树状图</a></li>

        </ul>

    </li>

    <li>

        <div class="link">highcharts应用<i class="fa fa-chevron-down"></i></div>

        <ul class="submenu">

            <li><a>折线图</a></li>

            <li><a>柱状图</a></li>

            <li><a>地图</a></li>

            <li><a>饼图</a></li>

            <li><a>树状图</a></li>

        </ul>

    </li>

    <li>

        <div class="link">Ajsx应用<i class="fa fa-chevron-down"></i></div>

        <ul class="submenu">

            <li><a>$ajax</a></li>

            <li><a>get请求</a></li>

            <li><a>post请求</a></li>

            <li><a>put请求</a></li>

            <li><a>delete请求</a></li>

            <li><a>jsonp请求</a></li>

        </ul>

    </li>
    <li>

        <div class="link">datatables应用<i class="fa fa-chevron-down"></i></div>

        <ul class="submenu">

            <li><a>模态框应用</a></li>

            <li><a>表格排序分页应用</a></li>

            <li><a>Ajax数据渲染</a></li>

        </ul>

    </li>

    <li>
        <div class="link">Angualr 应用<i class="fa fa-chevron-down"></i></div>

        <ul class="submenu">

            <li><a>Angular组件化</a></li>

            <li><a>Angular路由</a></li>

            <li><a>Angular组件传值</a></li>

            <li><a>Angular项目生成</a></li>

        </ul>

    </li>

</ul>

<!--nav end-->

<div class="content">
    <router-outlet></router-outlet>
</div>


<footer>
    版权所有
</footer>