ul {
    list-style-type: none;
}


/** =======================
 * Contenedor Principal
 ===========================*/

.accordion {
    position: absolute;
    left: 0;
    top: 50px;
    width: 235px;
    background: #364150;
    height: 936px;
    transition: all 0.4s;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #a7b5c6;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #a7b5c6;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion .link:hover {
    color: #fff;
}

.accordion i:hover {
    color: #fff;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #a7b5c6;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #fff;
}

.accordion li.open i {
    color: #fff;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


/**
 * Submenu
 -----------------------------*/

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}


/*http://www.jq22.com*/